@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    padding-top: 12px;
    margin-bottom: 96px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
}

/*
a {
    Text later
}
*/

.main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;

    margin: 0;
    padding: 0;
}

.secondary-text, 
.links a {
    font-size: 18px;
    color: #F9FAF8;
}

.top-section {
    background-color: #1f2937;
    
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-bottom: 96px;
}

button {
    background-color: #3882f6;
    color:#F9FAF8;
    font-weight: 600;
    padding: 8px 24px;
    border-radius: 5px;
    width: 125px;
}

.left,
.right {
    display: flex;
    flex-direction: column;

    width: 450px;
}

.left {
    justify-content: space-evenly;
    gap: 8px;
}

.right {
    justify-content: center;
    align-items: center;
    background-color: gray;
    color: white;
}

/*This is for the information section*/

.info-section {
    margin-bottom: 48px;
}

.info-section .title {
    text-align: center;
}

.img-holder {
    width: 180px;
    height: 180px;
    
    border-style: solid;
    border-radius: 15px;
    
}

.info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
    text-align: center;
}

.box-container {
    display: flex;
    justify-content: center;
    gap: 24px;
}

/*Inspiring Quote Section*/

.quote-section {
    display: flex;
    justify-content: center;
}

.quote-container {
    width: 400px;
}

/*Action Section*/

.action-section {
    border-style: none;
    background-color: #3882f6;
    padding: 48px 48px;
    margin: 196px 196px;
}

.action-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.text-container {
    display: flex;
    flex-direction: column;
}


/*Footer*/

.footer {
    text-align: center;
    background-color: #1f2937;
    padding: 24px 48px;
}
